<div class="body">
  <div class="hero-section pb-5">
  <div class="container px-5">
      <nav class="navbar navbar-expand-lg navbar-dark py-4">
        <!-- <h2 class="mb-1 text-light" href="#">Frame<span class="span-accent">Fusion</span></h2> -->
        <img class="navbar-brand" src="/assets/logo.png" alt="" class="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end gap-4" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#features">Features</a>
            <a class="nav-item nav-link" href="#works">How it works</a>
            <a class="nav-item nav-link" href="#faq">FAQ</a>
          </div>


          <a class="btn btn-plans" href="#plans"><b>View plans</b></a>
        </div>
      </nav>

      <div class="w-100 mt-5">
        <h1 class="w-100 text-light mb-0 highlight title">
          Design  <span class="span-accent">and</span> development partner for    <span class="span-accent">startup founders</span>.
        </h1>
        <!-- <br> -->
        <h1 class="w-50 mt-10 text-light highlight subtitle">
          Powering your breaktrough.
        </h1>

        <p class="text-light mb-0 w-50 mt-2 subtitle">
          Say goodbye to unpredictable freelancers and costly agencies. Enjoy a flat monthly fee and <span class="bold">lightning-fast design deliveries that will amaze you</span>.
        </p>

        <div class="d-flex w-50  mt-5 mb-3 gap-3 align-items-center buttons">
          <a class="btn btn-plans btn-lg" href="#plans"><b>View plans</b></a>
          <!-- <button class="btn btn-secondary"> -->
            <a href="https://calendly.com/aimamovic99/frame-fusion-intro-call" target="_blank" class="text-light btn btn-secondary">Book a consultation</a>
            <!-- </button> -->
        </div>

        <div class="mt-4">
          <div class="d-flex gap-2 text-light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <p class="mb-0">Lightning fast delivery</p>
          </div>
          <div class="d-flex gap-2 text-light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <p class="mb-0">Design, development and social media all in one place - <span class="span-accent">for one flat fee</span>.</p>
          </div>
          <div class="d-flex gap-2 text-light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <p class="mb-0">Cancel anytime, no questions asked</p>
          </div>
          <div class="d-flex gap-2 text-light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <p class="mb-0">Around the clock support</p>
          </div>
          <div class="d-flex gap-2 text-light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <p class="mb-0">Unlimited revisions</p>
          </div>
        </div>

        <div class="features d-flex flex-column align-items-center" id="features">
          <h3 class="text-light">Subscription <span class="span-accent">benefits</span>.</h3>
          <h5 class="text-light">Features so good you'll never need to go anywhere else for design or development.</h5>

          <div class="d-flex justify-content-between w-100 mt-3 cards flex-wrap">
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5">
                Direct communication
              </h4>
              <p class="text-light px-5">24/7 direct communication via a private Discord server.</p>
            </div>
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5 w-100">
                Lightning fast delivery
              </h4>
              <p class="text-light px-5">Get the first concept of your request inside the first 48 hours.</p>
            </div>
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5">
                Fixed <span class="span-accent">monthly rate</span>
              </h4>
              <p class="text-light px-5">Pay the same fixed price each month - no surprises!</p>
            </div>
          </div>

          <div class="d-flex justify-content-between w-100 mt-4 cards flex-wrap">
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5">
                Access to top notch expertise
              </h4>
              <p class="text-light px-5">A team of experts at your disposal.</p>
            </div>
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5">
                Flexible and scalable
              </h4>
              <p class="text-light px-5">Scale up or down as needed, and pause or cancel at anytime.</p>
            </div>
            <div class="feature-card card-background">
              <h4 class="text-light px-5 pt-5">
                Unique <span class="span-accent"> and all yours</span>
              </h4>
              <p class="text-light px-5">Each of your designs and products is made especially for you and is 100% yours.</p>
            </div>
          </div>
        </div>

        <div class="works d-flex flex-column align-items-center" id="works">
          <h3 class="text-light">How does it <span class="span-accent">work</span>?</h3>

          <div class="d-flex justify-content-between w-100 mt-3 cards flex-wrap">
            <div class="card card-background">
              <div class="d-flex align-items-center gap-3 w-100 text-light px-5 pt-4 card-header">
                <h4 class="text-light mb-0">
                  Choose a plan
                </h4>
                <i class="bi bi-arrow-right" style="font-size: 1.4rem; color: #00B8B5"></i>
              </div>
              <p class="text-light px-5">
                After you choose a plan, you will be able to schedule an introductory call with one of our team members to discuss your needs and complete your subscription.
              </p>
            </div>
            <div class="card card-background">
              <div class="d-flex align-items-center gap-3 w-100 text-light px-5 pt-4 card-header">
                <h4 class="text-light mb-0">
                  Request
                </h4>
              <i class="bi bi-arrow-right" style="font-size: 1.4rem; color: #00B8B5"></i>
              </div>
              <p class="text-light px-5">You submit your requests via a private Discord server. We’ll work through them, one at a time, ensuring consistent updates every 48-72 hours.</p>
            </div>
            <div class="card card-background">
              <div class="d-flex align-items-center gap-3 w-100 text-light px-5 pt-4 card-header">
                <h4 class="text-light mb-0">
                  Revise
                </h4>
                <i class="bi bi-bullseye" style="font-size: 1.4rem; color: #00B8B5"></i>
              </div>
              <p class="text-light px-5">Need changes? We guarantee unlimited revisions until you’re 100% satisfied. </p>
            </div>
          </div>
        </div>

        <div class="plans d-flex flex-column align-items-center" id="plans">
          <h3 class="text-light">Ready to get <span class="span-accent">started</span>?</h3>
          <p class="text-light">Choose a plan that best fits your needs.</p>

          <div class="d-flex align-items-center justify-content-between w-100 mt-2 plan-cards">
            <div class="plan">
              <div class="d-flex p-4 justify-content-between align-items-center">
                <h4 class="text-light mb-0">Base</h4>
                <div class="d-flex gap-1 align-items-center">
                  <img src="/assets/figma_nobg.png" alt="" class="plan-logo">
                  <img src="/assets/canva.png" alt="" class="plan-logo-sm">
                  <img src="/assets/angular_nobg.png" alt="" class="plan-logo">
                </div>
              </div>

              <div class="mt-2 d-flex w-100 px-4">
                <h1 class="bold mb-0 text-light">€2,000/mo</h1>
              </div>
              <small class="text-light px-4">Pause or cancel anytime</small>

              <div class="mt-4 px-4">
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Web and app design</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Design and development consultations</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Front end development (optional)</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Social media adverts design</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Unlimited revisions</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Weekly update meetings</p>
                </div>
              </div>

              <div class="plan-footer w-100 p-3">
                <a class="btn btn-plans w-100 light-shadow" href="https://calendly.com/aimamovic99/framefusion-base-plan-purchase-call" target="_blank">Select <span class="bold">Basic</span> </a>
              </div>
            </div>

            <div class="plan">
              <div class="d-flex p-4 justify-content-between align-items-center">
                <h4 class="text-light mb-0">Pro</h4>
                <div class="d-flex gap-1 align-items-center">
                  <img src="/assets/figma_nobg.png" alt="" class="plan-logo">
                  <img src="/assets/canva.png" alt="" class="plan-logo-sm">
                  <img src="/assets/angular_nobg.png" alt="" class="plan-logo">
                  <img src="/assets/React-icon.svg.png" alt="" class="plan-logo-sm">
                  <img src="/assets/nest.svg" alt="" class="plan-logo">
                </div>
              </div>

              <div class="mt-2 d-flex w-100 px-4">
                <h1 class="bold mb-0 text-light">€4,000/mo</h1>
              </div>
              <small class="text-light px-4">Pause or cancel anytime</small>

              <div class="mt-4 px-4">
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Web and app design</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Design and development consultations</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Full stack development</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Social media adverts design</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Mobile app development</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Unlimited revisions</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Daily update meetings</p>
                </div>
                <div class="d-flex gap-2 text-light align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  <p class="mb-0">Full insight into implementation process</p>
                </div>
              </div>
              <div class="plan-footer w-100 p-3">
                <a class="btn btn-plans w-100 light-shadow" href="https://calendly.com/aimamovic99/framefusion-pro-plan-purchase-call" target="_blank">Select <span class="bold">Pro</span> </a>
              </div>
            </div>
            <div class="plan">
              <div class="d-flex p-4 justify-content-between align-items-center">
                <h4 class="text-light mb-0">Custom</h4>
                <i class="bi bi-question-circle" style="font-size: 1.7rem; color: #fff"></i>
              </div>
              <div class="mt-4 px-4">
                <p class="text-light">
                  If you need a custom project built, or the other two plans simply don't fit your vision, this plan is for you.
                  <br>
                  We are always open to finding a plan perfectly suited for your needs.
                </p>
              </div>
              <div class="plan-footer w-100 p-3">
                <a class="btn btn-plans w-100 light-shadow" href="https://calendly.com/aimamovic99/frame-fusion-intro-call" target="_blank">Select <span class="bold">Custom</span> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="faq d-flex flex-column align-items-center" id="faq">
          <h3 class="text-light">Frequently Asked <span class="span-accent">Questions</span></h3>

          <div class="question w-50 mt-4">
            <div class="d-flex align-items-center justify-content-between w-100 p-3">
              <p class="text-light mb-0">Who is behind FrameFusion?</p>
              <i class="bi bi-plus-circle" style="font-size: 1.5rem; color: #fff" id="iconq1"  data-bs-toggle="collapse" href="#q1" role="button" aria-expanded="false" aria-controls="q1" (click)="rotateIcon('iconq1')"></i>
            </div>
          </div>
          <p class="text-light mb-0 collapse w-50 mt-2 answer" id="q1">FrameFusion is lead by a duo of software engineers specialized in front end development, with a long standing career in working with startups.</p>
          <div class="question w-50 mt-2">
            <div class="d-flex align-items-center justify-content-between w-100 p-3">
              <p class="text-light mb-0">What kind of requests can we make?</p>
              <i class="bi bi-plus-circle" style="font-size: 1.5rem; color: #fff" id="iconq2"  data-bs-toggle="collapse" href="#q2" role="button" aria-expanded="false" aria-controls="q2" (click)="rotateIcon('iconq2')"></i>
            </div>
          </div>
          <p class="text-light mb-0 collapse w-50 mt-2 answer" id="q2">We build anything from simple but beautiful and engaging landing pages, to full fledged, full stack apps and platforms.</p>
          <div class="question w-50 mt-2">
            <div class="d-flex align-items-center justify-content-between w-100 p-3">
              <p class="text-light mb-0">What if I am not happy with the results?</p>
              <i class="bi bi-plus-circle" style="font-size: 1.5rem; color: #fff" id="iconq3"  data-bs-toggle="collapse" href="#q3" role="button" aria-expanded="false" aria-controls="q3" (click)="rotateIcon('iconq3')"></i>
            </div>
          </div>
          <p class="text-light mb-0 collapse w-50 mt-2 answer" id="q3">We offer unlimited revisions to ensure that the product is designed or built 100% according to your expectations. Furthermore, you can cancel anytime, no questions asked.</p>
          <div class="question w-50 mt-2">
            <div class="d-flex align-items-center justify-content-between w-100 p-3">
              <p class="text-light mb-0">How many requests can I make?</p>
              <i class="bi bi-plus-circle" style="font-size: 1.5rem; color: #fff" id="iconq4"  data-bs-toggle="collapse" href="#q4" role="button" aria-expanded="false" aria-controls="q4" (click)="rotateIcon('iconq4')"></i>
            </div>
          </div>
          <p class="text-light mb-0 collapse w-50 mt-2 answer" id="q4">You can make as many requests as you need during your subscription period. We will work through them one by one ensuring top notch quality for each of your products.</p>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 150px"></div>
  <div class="footer py-2 gap-2">
    <img src="/assets/logo.png" alt="" class="footer-logo">
    <p class="text-light mb-0 sm w-100 text-center">A design and development agency based in Bosnia and Herzegovina</p>
    <p class="text-light sm">© 2024 <a class="text-light" href="https://www.linkedin.com/in/armin-imamovic/" target="_blank">Armin Imamovic</a></p>
    <div style="height: 100px"></div>
  </div>
</div>
